@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <h1 class="display-4">Here is your film library</h1>
    <p>As an example, four films are already entered in the list</p>
    <p>Go to your film library <a href="/Movies/Index">Movies</a></p>
</div>


